{% load static %}
</div>
<footer class="rodape">
    <div class="rodape__icones">
        <a href="https://www.linkedin.com/in/patrick-barroso-a1a094195/" target=”_blank” >
            <img src="{% static 'assets/ícones/1x/Linkedin.png' %}" class="rodape__icon" alt="ícone Linkedin ">
        </a>
        <a href="https://github.com/patrickpbarroso" target=”_blank” >
            <img src="{% static 'assets/ícones/1x/Github.png' %}" class="rodape__icon" alt="ícone Github ">
        </a>
        <a href="https://www.instagram.com/patrick.barroso/" target=”_blank” >
            <img src="{% static 'assets/ícones/1x/Instagram.png' %}" class="rodape__icon"alt="ícone instagram">
        </a>
    </div>
    <p class="rodape__texto">Desenvolvido por Patrick Barroso</p>
</footer>