{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
            <section class="conteudo">
                <section class="banner">
                    <img class="banner__imagem" src="{% static 'assets/imagens/Banner.png'%}" alt="banner Alura Space">
                    <h1 class="banner__titulo"> A galeria mais completa de fotos da vida selvagem!</h1>
                </section>
                <section class="tags">
                    <p class="tags__titulo">Filtros:</p>
                    <ul class="tags__lista">
                        <li class="tags__tag"><a href="{% url 'filtro' 'MAMÍFERO' %}" class="btn" style="color: #FFFFFF; font-size: 20px;">Mamífero</a></li>
                        <li class="tags__tag"><a href="{% url 'filtro' 'AVE' %}" class="btn" style="color: #FFFFFF; font-size: 20px;">Ave</a></li>
                        <li class="tags__tag"><a href="{% url 'filtro' 'RÉPTIL' %}" class="btn" style="color: #FFFFFF; font-size: 20px;">Réptil</a></li>
                        <li class="tags__tag"><a href="{% url 'filtro' 'INSETO' %}" class="btn" style="color: #FFFFFF; font-size: 20px;">Inseto/Aracnídeo</a></li>
                        <li class="tags__tag"><a href="{% url 'filtro' 'ANFÍBIO' %}" class="btn" style="color: #FFFFFF; font-size: 20px;">Anfíbio</a></li>
                        <li class="tags__tag"><a href="{% url 'filtro' 'PEIXES' %}" class="btn" style="color: #FFFFFF; font-size: 20px;">Peixes</a></li>
                        <li class="tags__tag"><a href="{% url 'filtro' 'ANFÍBIO' %}" class="btn" style="color: #FFFFFF; font-size: 20px;">Crustáceo</a></li>
                        <li class="tags__tag"><a href="{% url 'filtro' 'ANFÍBIO' %}" class="btn" style="color: #FFFFFF; font-size: 20px;">Outros</a></li>
                    </ul>
                </section>
                <section class="galeria">
                    <div class="cards__app">
                        <h2 class="cards__titulo">Navegue pela galeria</h2>
                        <ul class="cards__lista">
                            {% if cards %}
                            {% for fotografia in cards %}
                            <li class="card__app">
                                <a href="{% url 'imagem' fotografia.id %}">
                                    {% if fotografia.foto == '' or fotografia.foto == null %}
                                    <img class="card__imagem" src="{% static 'assets/imagens/galeria/not-found.jpg'%}" alt="foto">
                                    {% else %}
                                    <img class="card__imagem" src="{{ fotografia.foto.url }}" alt="foto">
                                    {% endif %}
                                </a>
                                <span class="card__tag">{{ fotografia.categoria }}</span>
                                <div class="card__info">
                                    <p class="card__titulo">{{ fotografia.nome }}</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">{{ fotografia.legenda }}</p>
                                        <span>
                                            <img src="{% static 'assets/ícones/1x/favorite_outline.png'%}" alt="ícone de coração">
                                        </span>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                            {% else %}
                            <div class="imagem__texto">
                                <p>Não há imagens!</p>
                            </div>
                            {% endif %}
                        </ul>
                    </div>
                </section>
            </section>
        </main>
{% endblock %}